.adminaccnts{
    display: flex;
    padding-top: 10%;
    padding-left: 22%;
    padding-right: 4%;
    height: 100%;
    flex-direction: column;
}

.adminaccnts h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #888888;
}

.field {
    width: 100%;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    outline: none;
}

.fieldRow {
    display: flex;
}

.bttn {
    height: max-content;
    background-color: #4888ff;
    color: white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}