.sidebar{
    display: flex;
    position: absolute;
    /* justify-content: center; */
    line-height: 60px;
    flex-direction: column;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 20%;
    background: #fff;
    position: fixed;
}
.topbar{
    position: absolute;
    display: flex;
    width: 78%;
    height: 10vh;
    background: #fff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    top: 2%;
    left: 21%;
}


.sidebar .line{
    height: .40%;
    width: 100%;
    margin-top: 10%;
    background: #f0f4f5;
}
.sidebar .link:hover{
    color: #4d95e6;
}


.sidebar .link, .spaces, .sidebar img{
    text-decoration: none;
    color: #696969;
    font-weight: bold;
    padding-left: 20%;
}

.sidebar .navSpaces{
    display: flex;
    flex-direction: column;
}

.sidebar .navSpaces .spaces{
    display: none;
}
.sidebar .navSpaces_active .spaces{
    display: flex;
    flex-direction: column;
}