.dashboard{
    display: flex;
    padding-top: 10%;
    padding-left: 22%;
    padding-right: 4%;
    height: 100%;
    flex-direction: column;
}
.dashboard h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #888888;
}
.flexcontainer{
    display: flex;
   flex-flow: row wrap;
    justify-content: start;
}
.dashbox{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 15em;
    margin: 1em;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 3em;
    text-align: center;
    font-weight: bold;
   

}
.dashbox p{
	font-size: 65px;
    color: #2169ee; 
    line-height: 30px;
    padding-left: 10px;
    margin-top: 70px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    
}
.dashbox p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
    text-align: center;
    margin-left: 5px;
}

