.dashboard{
    padding-top: 15%;
    padding-left: 21%;
    background: #f0f4f5;
    height: 83.5vh;
    font-weight: bold;
    font-size: 4vh;
    color: grey;
    text-align: left;
}
.col-div-3{
	width: 25%;
    margin-top: 25px;
	float: inline-start;
    box-sizing: border-box;
}
.col-div-4{
	width: 25%;
	margin-left: 250px;
    box-sizing: border-box;
}
.col-div-5{
	width: 25%;
	margin-left: 502px;
}
.box{
	width: 83.33%;
    height: 200px;
	background-color: #ffffff;
	padding:15px;
    border-radius: 10%;
    float: left;

}
.box p{
	 font-size: 65px;
    color: rgb(34, 51, 204);
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 70px;
    display: inline-block;
    text-align: center;
    
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
    text-align: center;
    margin-left: 5px;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
