.inprogress{
  display: flex;
  padding-top: 10%;
  padding-left: 22%;
  padding-right: 4%;
  height: 100%;
  background: #f0f4f5;
  flex-direction: column;
}
.inprogress h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: #888888;
}
.fix-width {
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.inprogress table{
  width: 3000px;
	margin-bottom: 0;
	max-width: none;
}


.inprogress th{
  /* cellpadding */
  padding: 16px;
  border: #f0f4f5 solid .5px;
 
}
.inprogress td{
  color: #888888 ;
 
}

.inprogressContainer{
  height: 100%;
  width: 100%;
  margin-top: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  padding: 16px;
}

.inprogress .views-nav{
  float: right;
}

.inprogress .inprogressContainer input{
  /* margin-bottom: 50px; */
  border: 2px solid #888888 ;
  width: 30%;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.inprogress .inprogressContainer .search, .inprogress .inprogressContainer .excel, .inprogress .inprogressContainer .csv{
  margin-left: 1%;
  background-color: #4888ff; 
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}